*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --theme-primary: #114B5F;
  --theme-secondary: #F3E9D2;
  --theme-safe: #1A936F;
  --theme-mine: red;
  --theme-empty: #C6DABF;
  --font-primary: 'Kanit', sans-serif;
}
